Repository DigitalRuby/ExchangeSharp, pull requests merged in 2019-09, with the labels that each got.

#429 fixed bug in KuCoin GetTickersAsync()
  ExchangeSharp/API/Exchanges/KuCoin/ExchangeKuCoinAPI.cs
Labels: exchange-KuCoin

#435 Initial configuration for Release Drafter
  .github/release-drafter.yml
Labels: maintenance

#433 New exchange Digifinex
  ExchangeSharp/API/Exchanges/Digifnex/ExchangeDigifinexAPI.cs
Labels: enhancement, exchange-Digifinex

#440 Digifinex: fixed IsLastFromSnapshot bug
  ExchangeSharp/API/Exchanges/Digifnex/ExchangeDigifinexAPI.cs
  ExchangeSharp/Model/ExchangeTrade.cs
Labels: bug, exchange-Digifinex

#442 ZB.com: fix MarketSymbolMetatadata.IsActive
  ExchangeSharp/API/Exchanges/Digifinex/ExchangeDigifinexAPI.cs
  ExchangeSharp/API/Exchanges/ZBcom/ExchangeZBcomAPI.cs
  ExchangeSharp/Model/ExchangeTrade.cs
Labels: bug, exchange-ZB.com

#448 new nuget 0.6.1
  ExchangeSharp/ExchangeSharp.csproj
  ExchangeSharp/Properties/AssemblyInfo.cs
  ExchangeSharpConsole/ExchangeSharpConsole.csproj
  ExchangeSharpTests/ExchangeSharpTests.csproj
Labels: maintenance

#449 Kraken symbol refactor
  ExchangeSharp/API/Exchanges/Kraken/ExchangeKrakenAPI.cs
  ExchangeSharp/API/Exchanges/_Base/ExchangeAPI.cs
  ExchangeSharp/Model/ExchangeCurrency.cs
Labels: exchange-Kraken, maintenance

#451 Eliminate SSL3
  ExchangeSharp/API/Common/BaseAPI.cs
Labels: maintenance

#452 KuCoin: handle when total # sym is not a multiple of 100
  ExchangeSharp/API/Exchanges/KuCoin/ExchangeKuCoinAPI.cs
Labels: maintenance
