Repository DigitalRuby/ExchangeSharp, pull requests merged in 2019-10, with the labels that each got.

#455 Fixed ClientWebSocket disposal
  ExchangeSharp/Utility/ClientWebSocket.cs
Labels: maintenance

#456 workaround SignalR HubConnection.Stop() bug
  ExchangeSharp/Utility/SignalrManager.cs
Labels: bug

#458 HitBTC: set RateLimit
  ExchangeSharp/API/Exchanges/Hitbtc/ExchangeHitbtcAPI.cs
Labels: maintenance

#459 new nuget 0.6.2
  ExchangeSharp/ExchangeSharp.csproj
  ExchangeSharp/Properties/AssemblyInfo.cs
  ExchangeSharpConsole/ExchangeSharpConsole.csproj
  ExchangeSharpTests/ExchangeSharpTests.csproj
  README.md
Labels: maintenance

#462 Add exchange BL3P.eu
  ExchangeSharp.sln
  ExchangeSharp/API/Exchanges/Bl3p/ExchangeBl3pAPI.cs
  README.md
Labels: enhancement, exchange-BL3P

#463 Additional BL3P capitalization fixes
  ExchangeSharp/API/Exchanges/BL3P/ExchangeBL3PAPI.cs
Labels: exchange-BL3P, maintenance

#465 Add NDAX REST Api Support
  ExchangeSharp/API/Exchanges/NDAX/Converters/BoolConverter.cs
  ExchangeSharp/API/Exchanges/NDAX/ExchangeNdaxAPI.cs
  ExchangeSharp/API/Exchanges/NDAX/Models/AccountBalance.cs
  ExchangeSharp/API/Exchanges/NDAX/Models/AuthenticateResult.cs
  ExchangeSharp/API/Exchanges/NDAX/Models/GenericResponse.cs
  ExchangeSharp/API/Exchanges/NDAX/Models/Instrument.cs
  ExchangeSharp/API/Exchanges/NDAX/Models/MessageFrame.cs
  ExchangeSharp/API/Exchanges/NDAX/Models/MessageType.cs
  ExchangeSharp/API/Exchanges/NDAX/Models/NDaxProduct.cs
  ExchangeSharp/API/Exchanges/NDAX/Models/NdaxDepositInfo.cs
  ExchangeSharp/API/Exchanges/NDAX/Models/NdaxTicker.cs
  ExchangeSharp/API/Exchanges/NDAX/Models/Order.cs
  ExchangeSharp/API/Exchanges/NDAX/Models/SendOrderResponse.cs
  ExchangeSharp/API/Exchanges/NDAX/Models/TradeHistory.cs
  ExchangeSharp/API/Exchanges/NDAX/Models/WithdrawTemplates.cs
Labels: enhancement, exchange-NDAX

#468 NDAX: move supporting classes to ExchangeNDAXAPI class
  ExchangeSharp/API/Exchanges/NDAX/Converters/BoolConverter.cs
  ExchangeSharp/API/Exchanges/NDAX/ExchangeNDAXAPI.cs
  ExchangeSharp/API/Exchanges/NDAX/Models/AccountBalance.cs
  ExchangeSharp/API/Exchanges/NDAX/Models/AuthenticateResult.cs
  ExchangeSharp/API/Exchanges/NDAX/Models/GenericResponse.cs
  ExchangeSharp/API/Exchanges/NDAX/Models/Instrument.cs
  ExchangeSharp/API/Exchanges/NDAX/Models/MessageFrame.cs
  ExchangeSharp/API/Exchanges/NDAX/Models/MessageType.cs
  ExchangeSharp/API/Exchanges/NDAX/Models/NDAXDepositInfo.cs
  ExchangeSharp/API/Exchanges/NDAX/Models/NDAXProduct.cs
  ExchangeSharp/API/Exchanges/NDAX/Models/NDAXTicker.cs
  ExchangeSharp/API/Exchanges/NDAX/Models/NDaxProduct.cs
  ExchangeSharp/API/Exchanges/NDAX/Models/NdaxDepositInfo.cs
  ExchangeSharp/API/Exchanges/NDAX/Models/NdaxTicker.cs
  ExchangeSharp/API/Exchanges/NDAX/Models/Order.cs
  ExchangeSharp/API/Exchanges/NDAX/Models/SendOrderResponse.cs
  ExchangeSharp/API/Exchanges/NDAX/Models/TradeHistory.cs
  ExchangeSharp/API/Exchanges/NDAX/Models/WithdrawTemplates.cs
Labels: exchange-NDAX, maintenance

#469 add ndax ticker websocket
  ExchangeSharp/API/Exchanges/NDAX/ExchangeNDAXAPI.cs
  ExchangeSharp/API/Exchanges/NDAX/Models/Level1Data.cs
  ExchangeSharp/API/Exchanges/NDAX/Models/NDAXProduct.cs
  README.md
Labels: enhancement, exchange-NDAX

#467 New terminal interface implementation
  .gitignore
  ExchangeSharp/API/Common/BaseAPI.cs
  ExchangeSharp/API/Exchanges/_Base/ExchangeAPI.cs
  ExchangeSharp/Utility/DataProtector.cs
  ExchangeSharpConsole/Console/ExchangeSharpConsole_Convert.cs
  ExchangeSharpConsole/Console/ExchangeSharpConsole_Example.cs
  ExchangeSharpConsole/Console/ExchangeSharpConsole_ExchangeTests.cs
  ExchangeSharpConsole/Console/ExchangeSharpConsole_Export.cs
  ExchangeSharpConsole/Console/ExchangeSharpConsole_Help.cs
  ExchangeSharpConsole/Console/ExchangeSharpConsole_Orders.cs
  ExchangeSharpConsole/Console/ExchangeSharpConsole_Stats.cs
  ExchangeSharpConsole/CustomWebSocket/WebSocket4NetClientWebSocket.cs
  ExchangeSharpConsole/ExchangeSharpConsole.csproj
  ExchangeSharpConsole/ExchangeSharpConsole.csproj.DotSettings
  ExchangeSharpConsole/ExchangeSharpConsole_Main.cs
  ExchangeSharpConsole/Options/BaseOption.cs
  ExchangeSharpConsole/Options/CandlesOption.cs
  ExchangeSharpConsole/Options/ConvertOption.cs
  ExchangeSharpConsole/Options/ExampleOption.cs
  ExchangeSharpConsole/Options/ExportOption.cs
  ExchangeSharpConsole/Options/Interfaces/IOptionPerExchange.cs
  ExchangeSharpConsole/Options/Interfaces/IOptionPerMarketSymbol.cs
  ExchangeSharpConsole/Options/Interfaces/IOptionPerOrderId.cs
  ExchangeSharpConsole/Options/Interfaces/IOptionWithEndDate.cs
  ExchangeSharpConsole/Options/Interfaces/IOptionWithFunctionRegex.cs
  ExchangeSharpConsole/Options/Interfaces/IOptionWithIO.cs
  ExchangeSharpConsole/Options/Interfaces/IOptionWithInterval.cs
  ExchangeSharpConsole/Options/Interfaces/IOptionWithKey.cs
  ExchangeSharpConsole/Options/Interfaces/IOptionWithMarketSymbol.cs
  ExchangeSharpConsole/Options/Interfaces/IOptionWithMultipleMarketSymbol.cs
  ExchangeSharpConsole/Options/Interfaces/IOptionWithStartDate.cs
  ExchangeSharpConsole/Options/KeysOption.cs
  ExchangeSharpConsole/Options/MarketSymbolsMetadataOption.cs
  ExchangeSharpConsole/Options/MarketSymbolsOption.cs
  ExchangeSharpConsole/Options/OrderDetailsOption.cs
  ExchangeSharpConsole/Options/OrderHistoryOption.cs
  ExchangeSharpConsole/Options/StatsOption.cs
  ExchangeSharpConsole/Options/SupportedExchangesOption.cs
  ExchangeSharpConsole/Options/TestOption.cs
  ExchangeSharpConsole/Options/TickerOption.cs
  ExchangeSharpConsole/Options/TradeHistoryOption.cs
  ExchangeSharpConsole/Options/WebSocketsOrderbookOption.cs
  ExchangeSharpConsole/Options/WebSocketsTickersOption.cs
  ExchangeSharpConsole/Options/WebSocketsTradesOption.cs
  ExchangeSharpConsole/Program.Main.cs
  ExchangeSharpConsole/Program.cs
  ExchangeSharpConsole/Utilities/ConsoleSessionKeeper.cs
  ExchangeSharpConsole/nlog.config
Labels: enhancement

#473 Kraken: speedup symbol lookup in trade stream
  ExchangeSharp/API/Exchanges/Kraken/ExchangeKrakenAPI.cs
Labels: exchange-Kraken, maintenance

#471 NDAX: added Trade stream (websocket)
  ExchangeSharp/API/Exchanges/NDAX/ExchangeNDAXAPI.cs
  ExchangeSharp/API/Exchanges/NDAX/Models/Instrument.cs
  ExchangeSharp/API/Exchanges/NDAX/Models/Level1Data.cs
  ExchangeSharp/API/Exchanges/NDAX/Models/TradeData.cs
  ExchangeSharp/API/Exchanges/NDAX/Models/TradeHistory.cs
  ExchangeSharp/API/Exchanges/_Base/ExchangeAPIExtensions.cs
  README.md
Labels: enhancement, exchange-NDAX

#472 C# 8 phase 1
  ExchangeSharp.sln
  ExchangeSharp/API/Common/APIRequestMaker.cs
  ExchangeSharp/API/Common/BaseAPI.cs
  ExchangeSharp/API/Common/IAPIRequestMaker.cs
  ExchangeSharp/API/Common/IBaseAPI.cs
  ExchangeSharp/API/Exchanges/Binance/ExchangeBinanceAPI.cs
  ExchangeSharp/API/Exchanges/Binance/Models/Currency.cs
  ExchangeSharp/API/Exchanges/_Base/ExchangeAPI.cs
  ExchangeSharp/API/Exchanges/_Base/ExchangeAPIExtensions.cs
  ExchangeSharp/API/Exchanges/_Base/IExchangeAPI.cs
  ExchangeSharp/ExchangeSharp.csproj
  ExchangeSharp/Utility/CryptoUtility.cs
  ExchangeSharp/Utility/DataProtector.cs
  ExchangeSharp/Utility/SignalrManager.cs
Labels: enhancement
