Repository DigitalRuby/ExchangeSharp, pull requests merged in 2019-11, with the labels that each got.

#474 BL3P: move supporting classes to ExchangeBL3PAPI class
  ExchangeSharp/API/Exchanges/BL3P/ExchangeBL3PAPI.cs
  ExchangeSharp/API/Exchanges/BL3P/Models/BL3POrder.cs
  ExchangeSharp/API/Exchanges/BL3P/Models/BL3POrderBook.cs
  ExchangeSharp/API/Exchanges/BL3P/MultiWebsocketWrapper.cs
Labels: exchange-BL3P, maintenance

#475 Add buy/sell/cancel to BL3P
  ExchangeSharp/API/Common/APIRequestMaker.cs
  ExchangeSharp/API/Exchanges/BL3P/BL3PException.cs
  ExchangeSharp/API/Exchanges/BL3P/Converters/BL3PResponseConverter.cs
  ExchangeSharp/API/Exchanges/BL3P/Enums/BL3PCurrencyFee.cs
  ExchangeSharp/API/Exchanges/BL3P/Enums/BL3POrderStatus.cs
  ExchangeSharp/API/Exchanges/BL3P/Enums/BL3POrderType.cs
  ExchangeSharp/API/Exchanges/BL3P/Enums/BL3PResponseType.cs
  ExchangeSharp/API/Exchanges/BL3P/ExchangeBL3PAPI.cs
  ExchangeSharp/API/Exchanges/BL3P/ExchangeName.cs
  ExchangeSharp/API/Exchanges/BL3P/Extensions/BL3PExtensions.cs
  ExchangeSharp/API/Exchanges/BL3P/Models/BL3PAmount.cs
  ExchangeSharp/API/Exchanges/BL3P/Models/BL3POrder.cs
  ExchangeSharp/API/Exchanges/BL3P/Models/BL3POrderBook.cs
  ExchangeSharp/API/Exchanges/BL3P/Models/BL3POrderRequest.cs
  ExchangeSharp/API/Exchanges/BL3P/Models/BL3PResponse.cs
  ExchangeSharp/API/Exchanges/BL3P/Models/BL3PResponsePayload.cs
  ExchangeSharp/API/Exchanges/BL3P/Models/Bl3PResponsePayloadError.cs
  ExchangeSharp/API/Exchanges/BL3P/Models/Orders/Add/BL3POrderAddResponse.cs
  ExchangeSharp/API/Exchanges/BL3P/Models/Orders/Add/BL3POrderAddSuccess.cs
  ExchangeSharp/API/Exchanges/BL3P/Models/Orders/Result/BL3POrderResultResponse.cs
  ExchangeSharp/API/Exchanges/BL3P/Models/Orders/Result/BL3POrderResultSuccess.cs
  ExchangeSharp/API/Exchanges/BL3P/MultiWebsocketWrapper.cs
  ExchangeSharp/Dependencies/Converters/FixedIntDecimalConverter.cs
  ExchangeSharp/Dependencies/Converters/FixedIntDecimalJsonConverter.cs
  ExchangeSharp/Dependencies/Converters/JsonComplexObjectConverter.cs
  ExchangeSharp/ExchangeSharp.csproj
  ExchangeSharp/Utility/ClientWebSocket.cs
  ExchangeSharp/Utility/CryptoUtility.cs
  ExchangeSharp/Utility/FixedIntDecimalConverter.cs
  ExchangeSharpConsole/Options/BuyOption.cs
  ExchangeSharpConsole/Options/CancelOrderOption.cs
  ExchangeSharpConsole/Options/Interfaces/IOptionWithDryRun.cs
  ExchangeSharpConsole/Options/Interfaces/IOptionWithOrderInfo.cs
  ExchangeSharpConsole/Options/Interfaces/IOptionWithWait.cs
  ExchangeSharpConsole/Options/SellOption.cs
  ExchangeSharpConsole/Program.cs
  ExchangeSharpConsole/Utilities/ConsoleSessionKeeper.cs
  ExchangeSharpTests/ExchangeBL3PAPITests.cs
  ExchangeSharpTests/ExchangeTests.cs
Labels: enhancement, exchange-BL3P

#479 BL3P: added Trade stream (websocket)
  ExchangeSharp/API/Exchanges/BL3P/BL3PException.cs
  ExchangeSharp/API/Exchanges/BL3P/Converters/BL3PResponseConverter.cs
  ExchangeSharp/API/Exchanges/BL3P/Enums/BL3PCurrencyFee.cs
  ExchangeSharp/API/Exchanges/BL3P/Enums/BL3POrderStatus.cs
  ExchangeSharp/API/Exchanges/BL3P/Enums/BL3POrderType.cs
  ExchangeSharp/API/Exchanges/BL3P/Enums/BL3PResponseType.cs
  ExchangeSharp/API/Exchanges/BL3P/ExchangeBL3PAPI.cs
  ExchangeSharp/API/Exchanges/BL3P/Extensions/BL3PExtensions.cs
  ExchangeSharp/API/Exchanges/BL3P/Models/BL3PAmount.cs
  ExchangeSharp/API/Exchanges/BL3P/Models/BL3POrderBook.cs
  ExchangeSharp/API/Exchanges/BL3P/Models/BL3POrderRequest.cs
  ExchangeSharp/API/Exchanges/BL3P/Models/BL3PResponse.cs
  ExchangeSharp/API/Exchanges/BL3P/Models/BL3PResponsePayload.cs
  ExchangeSharp/API/Exchanges/BL3P/Models/BL3PResponsePayloadError.cs
  ExchangeSharp/API/Exchanges/BL3P/Models/Orders/Add/BL3POrderAddResponse.cs
  ExchangeSharp/API/Exchanges/BL3P/Models/Orders/Add/BL3POrderAddSuccess.cs
  ExchangeSharp/API/Exchanges/BL3P/Models/Orders/Result/BL3POrderResultResponse.cs
  ExchangeSharp/API/Exchanges/BL3P/Models/Orders/Result/BL3POrderResultSuccess.cs
  ExchangeSharp/API/Exchanges/BL3P/MultiWebsocketWrapper.cs
  ExchangeSharp/API/Exchanges/_Base/ExchangeAPIExtensions.cs
Labels: enhancement, exchange-BL3P

#481 Binance.US: added exchange support
  ExchangeSharp/API/Exchanges/BinanceGroup/BinanceGroupCommon.cs
  ExchangeSharp/API/Exchanges/BinanceGroup/ExchangeBinanceAPI.cs
  ExchangeSharp/API/Exchanges/BinanceGroup/ExchangeBinanceDEXAPI.cs
  ExchangeSharp/API/Exchanges/BinanceGroup/ExchangeBinanceUSAPI.cs
  ExchangeSharp/API/Exchanges/BinanceGroup/Models/BinanceAggregateTrade.cs
  ExchangeSharp/API/Exchanges/BinanceGroup/Models/BinanceDEXTrade.cs
  ExchangeSharp/API/Exchanges/BinanceGroup/Models/Currency.cs
  ExchangeSharp/API/Exchanges/BinanceGroup/Models/MarketDepthDiffUpdate.cs
  ExchangeSharp/API/Exchanges/BinanceGroup/Models/MultiDepthStream.cs
  ExchangeSharp/API/Exchanges/BinanceGroup/Models/UserDataStream.cs
  ExchangeSharp/API/Exchanges/BitBank/ExchangeBitBankAPI.cs
  ExchangeSharp/API/Exchanges/_Base/ExchangeAPIExtensions.cs
  ExchangeSharpConsole/Options/TestOption.cs
  ExchangeSharpTests/ExchangeBinanceAPITests.cs
  ExchangeSharpTests/ExchangeTests.cs
  README.md
Labels: enhancement, exchange-Binance.US

#482 new nuget 0.6.3
  ExchangeSharp/ExchangeSharp.csproj
  ExchangeSharp/Properties/AssemblyInfo.cs
  ExchangeSharpConsole/ExchangeSharpConsole.csproj
  ExchangeSharpTests/ExchangeSharpTests.csproj
  README.md
Labels: maintenance

#488 Update kucoin ticker websocket API
  ExchangeSharp/API/Exchanges/KuCoin/ExchangeKuCoinAPI.cs
Labels: bug, exchange-KuCoin

#489 HitBTC: allow OnGetDepositHistoryAsync() for all currencies
  ExchangeSharp/API/Exchanges/Hitbtc/ExchangeHitbtcAPI.cs
Labels: bug, exchange-HitBTC

#485 BL3P: Get full order book
  ExchangeSharp/API/Exchanges/BL3P/ExchangeBL3PAPI.cs
  ExchangeSharp/API/Exchanges/BL3P/Models/BL3POrderBook.cs
  ExchangeSharp/API/Exchanges/BL3P/Models/BL3PReponseFullOrderBook.cs
  ExchangeSharp/API/Exchanges/_Base/ExchangeAPI.cs
  ExchangeSharp/ExchangeSharp.csproj.DotSettings
  ExchangeSharpConsole/Constants.cs
  ExchangeSharpConsole/Options/BaseOption.cs
  ExchangeSharpConsole/Options/Interfaces/IOptionWithKey.cs
  ExchangeSharpConsole/Options/Interfaces/IOptionWithMaximum.cs
  ExchangeSharpConsole/Options/OrderBookOption.cs
  ExchangeSharpConsole/Program.cs
Labels: enhancement, exchange-BL3P

#476 CI/CD with Azure pipelines
  .editorconfig
  azure-pipelines.yml
  src/ExchangeSharpConsole/.gitignore
  src/ExchangeSharpConsole/ExchangeSharpConsole.csproj
Labels: enhancement

#491 attempt fix of Azure pipeline GH connection
  azure-pipelines.yml
Labels: maintenance

#493 Ignore test that were failing on OSX
  tests/ExchangeSharpTests/CryptoUtilityTests.cs
  tests/ExchangeSharpTests/ExchangeSharpTests.csproj
  tests/ExchangeSharpTests/Utility/ConditionalTestMethod.cs
  tests/ExchangeSharpTests/Utility/IgnoreIfAttribute.cs
  tests/ExchangeSharpTests/Utility/PlatformSpecificTest.cs
  tests/ExchangeSharpTests/Utility/TestPlatforms.cs
Labels: maintenance

#492 change to addChangeLog to false
  azure-pipelines.yml
Labels: maintenance

#494 Update readme
  .gitignore
  .vscode/launch.template.json
  .vscode/tasks.json
  BUILDING.md
  README.md
  data/.gitkeep
  install-console.sh
  src/ExchangeSharpConsole/Options/ExampleOption.cs
Labels: maintenance

#498 NDAX: fix symbol separator bug
  src/ExchangeSharp/API/Exchanges/NDAX/ExchangeNDAXAPI.cs
Labels: bug, exchange-NDAX
