Repository DigitalRuby/ExchangeSharp, pull requests merged in 2020-12, with the labels that each got.

#562 new NuGet 0.7.4
  README.md
  src/ExchangeSharp/ExchangeSharp.csproj
  src/ExchangeSharp/Properties/AssemblyInfo.cs
  src/ExchangeSharpConsole/ExchangeSharpConsole.csproj
  tests/ExchangeSharpTests/ExchangeSharpTests.csproj
Labels: maintenance

#563 Binance - add ClientOrderId support
  src/ExchangeSharp/API/Exchanges/BinanceGroup/BinanceGroupCommon.cs
Labels: bug, exchange-Binance

#564 Binance - add support for FilledPartiallyAndCancelled order status
  src/ExchangeSharp/API/Exchanges/BinanceGroup/BinanceGroupCommon.cs
Labels: enhancement, exchange-Binance

#567 OnGetOpenOrderDetailsAsync() uses new functionality in /v2/private/order
  src/ExchangeSharp/API/Exchanges/Bybit/ExchangeBybitAPI.cs
Labels: maintenance
