Repository DigitalRuby/ExchangeSharp, pull requests merged in 2020-03, with the labels that each got.

#524 Binance: fix WS depth response int overflow bug
  src/ExchangeSharp/API/Exchanges/BinanceGroup/Models/MarketDepthDiffUpdate.cs
Labels: bug, exchange-Binance

#523 OKex: fix websockets endpoint
  src/ExchangeSharp/API/Exchanges/OKGroup/ExchangeOKExAPI.cs
Labels: bug, exchange-OKex

#525 fixed WebSocket disconnected (NRE) bug
  src/ExchangeSharp/Utility/ClientWebSocket.cs
Labels: bug

#526 new NuGet 0.7.1
  README.md
  src/ExchangeSharp.Forms/ExchangeSharp.Forms.csproj
  src/ExchangeSharp/ExchangeSharp.csproj
  src/ExchangeSharp/Properties/AssemblyInfo.cs
  src/ExchangeSharpConsole/ExchangeSharpConsole.csproj
  tests/ExchangeSharpTests/ExchangeSharpTests.csproj
  tests/ExchangeSharpTests/ExchangeTests.cs
Labels: maintenance

#528 Added new private BitMEX methods
  src/ExchangeSharp/API/Exchanges/BitMEX/ExchangeBitMEXAPI.cs
  src/ExchangeSharp/Model/ExchangePosition.cs
Labels: enhancement, exchange-BitMEX

#529 BTSE: added some private REST endpoints
  README.md
  src/ExchangeSharp/API/Exchanges/BTSE/ExchangeBTSEAPI.cs
Labels: enhancement
