Repository DigitalRuby/ExchangeSharp, pull requests merged in 2020-04, with the labels that each got.

#532 BitMEX: added support for amending orders in bulk
  src/ExchangeSharp/API/Exchanges/BitMEX/ExchangeBitMEXAPI.cs
  src/ExchangeSharp/Model/ExchangeOrderRequest.cs
  src/ExchangeSharp/Model/ExchangeOrderResult.cs
Labels: enhancement, exchange-BitMEX

#531 Digifinex: API improvements
  src/ExchangeSharp/API/Exchanges/Digifinex/ExchangeDigifinexAPI.cs
Labels: enhancement, exchange-Digifinex

#533 BitMEX: added Position websocket
  src/ExchangeSharp/API/Exchanges/BitMEX/ExchangeBitMEXAPI.cs
  src/ExchangeSharp/Model/ExchangePosition.cs
Labels: enhancement, exchange-BitMEX

#534 NDAX: fix Trades websocket
  src/ExchangeSharp/API/Exchanges/NDAX/ExchangeNDAXAPI.cs
Labels: bug, exchange-NDAX

#535 new NuGet 0.7.2
  README.md
  src/ExchangeSharp/ExchangeSharp.csproj
  src/ExchangeSharp/Properties/AssemblyInfo.cs
  src/ExchangeSharpConsole/ExchangeSharpConsole.csproj
  tests/ExchangeSharpTests/ExchangeSharpTests.csproj
Labels: maintenance
