Repository DigitalRuby/ExchangeSharp, pull requests merged in 2021-09, with the labels that each got.

#636 added Gate.io ExchangeAPI implementation
  src/ExchangeSharp/API/Exchanges/GateIo/ExchangeGateIoAPI.cs
  src/ExchangeSharp/API/Exchanges/_Base/ExchangeAPIDefinitions.cs
Labels: enhancement

#637 Gate.io: GetAmounts + GetAmountsAvailableToTrade
  src/ExchangeSharp/API/Exchanges/GateIo/ExchangeGateIoAPI.cs
Labels: enhancement

#638 Moving to OKEx V5 API
  src/ExchangeSharp/API/Exchanges/OKGroup/ExchangeOKExAPI.cs
Labels: enhancement

#640 Fix parsing Bitfinex ticker symbol
  src/ExchangeSharp/API/Exchanges/Bitfinex/ExchangeBitfinexAPI.cs
  src/ExchangeSharp/ExchangeSharp.csproj
Labels: bug, exchange-Bitfinex

#645 [Bitstamp] Populate order status
  src/ExchangeSharp/API/Exchanges/Bitstamp/ExchangeBitstampAPI.cs
Labels: bug, exchange-Bitstamp

#646 Fixed setting Order.AveragePrice to null when Quantity is zero
  src/ExchangeSharp/API/Exchanges/BL3P/ExchangeBL3PAPI.cs
  src/ExchangeSharp/API/Exchanges/BinanceGroup/BinanceGroupCommon.cs
  src/ExchangeSharp/API/Exchanges/BinanceGroup/Models/UserDataStream.cs
  src/ExchangeSharp/API/Exchanges/Coinbase/ExchangeCoinbaseAPI.cs
  src/ExchangeSharp/API/Exchanges/GateIo/ExchangeGateIoAPI.cs
  src/ExchangeSharp/API/Exchanges/Hitbtc/ExchangeHitbtcAPI.cs
Labels: bug

#648 [Bitstamp] OnGetOrderDetailsAsync set orderId
  src/ExchangeSharp/API/Exchanges/Bitstamp/ExchangeBitstampAPI.cs
Labels: bug, exchange-Bitstamp

#647 Added ability to GetOrderDetailsAsync() by ClientOrderId
  src/ExchangeSharp/API/Exchanges/Aquanow/ExchangeAquanowAPI.cs
  src/ExchangeSharp/API/Exchanges/BL3P/ExchangeBL3PAPI.cs
  src/ExchangeSharp/API/Exchanges/BinanceGroup/BinanceGroupCommon.cs
  src/ExchangeSharp/API/Exchanges/BitBank/ExchangeBitBankAPI.cs
  src/ExchangeSharp/API/Exchanges/BitMEX/ExchangeBitMEXAPI.cs
  src/ExchangeSharp/API/Exchanges/Bitfinex/ExchangeBitfinexAPI.cs
  src/ExchangeSharp/API/Exchanges/Bitstamp/ExchangeBitstampAPI.cs
  src/ExchangeSharp/API/Exchanges/Bittrex/ExchangeBittrexAPI.cs
  src/ExchangeSharp/API/Exchanges/Bybit/ExchangeBybitAPI.cs
  src/ExchangeSharp/API/Exchanges/Coinbase/ExchangeCoinbaseAPI.cs
  src/ExchangeSharp/API/Exchanges/Digifinex/ExchangeDigifinexAPI.cs
  src/ExchangeSharp/API/Exchanges/GateIo/ExchangeGateIoAPI.cs
  src/ExchangeSharp/API/Exchanges/Gemini/ExchangeGeminiAPI.cs
  src/ExchangeSharp/API/Exchanges/Hitbtc/ExchangeHitbtcAPI.cs
  src/ExchangeSharp/API/Exchanges/Huobi/ExchangeHuobiAPI.cs
  src/ExchangeSharp/API/Exchanges/Kraken/ExchangeKrakenAPI.cs
  src/ExchangeSharp/API/Exchanges/KuCoin/ExchangeKuCoinAPI.cs
  src/ExchangeSharp/API/Exchanges/LBank/ExchangeLBankAPI.cs
  src/ExchangeSharp/API/Exchanges/Livecoin/ExchangeLivecoinAPI.cs
  src/ExchangeSharp/API/Exchanges/NDAX/ExchangeNDAXAPI.cs
  src/ExchangeSharp/API/Exchanges/OKGroup/OKGroupCommon.cs
  src/ExchangeSharp/API/Exchanges/Poloniex/ExchangePoloniexAPI.cs
  src/ExchangeSharp/API/Exchanges/Yobit/ExchangeYobitAPI.cs
  src/ExchangeSharp/API/Exchanges/_Base/ExchangeAPI.cs
  src/ExchangeSharp/API/Exchanges/_Base/ExchangeAPIExtensions.cs
  src/ExchangeSharp/API/Exchanges/_Base/IExchangeAPI.cs
  src/ExchangeSharpConsole/Options/BuyOption.cs
  src/ExchangeSharpConsole/Options/OrderDetailsOption.cs
  tests/ExchangeSharpTests/ExchangeBitBankTests.cs
Labels: enhancement

#650 [Poloniex] Parse withdrawalNumber
  src/ExchangeSharp/API/Exchanges/Poloniex/ExchangePoloniexAPI.cs
Labels: bug, exchange-Poloniex

#651 Standardize isPostOnly
  src/ExchangeSharp/API/Exchanges/Aquanow/ExchangeAquanowAPI.cs
  src/ExchangeSharp/API/Exchanges/BL3P/ExchangeBL3PAPI.cs
  src/ExchangeSharp/API/Exchanges/BTSE/ExchangeBTSEAPI.cs
  src/ExchangeSharp/API/Exchanges/BinanceGroup/BinanceGroupCommon.cs
  src/ExchangeSharp/API/Exchanges/BitBank/ExchangeBitBankAPI.cs
  src/ExchangeSharp/API/Exchanges/BitMEX/ExchangeBitMEXAPI.cs
  src/ExchangeSharp/API/Exchanges/Bitfinex/ExchangeBitfinexAPI.cs
  src/ExchangeSharp/API/Exchanges/Bitstamp/ExchangeBitstampAPI.cs
  src/ExchangeSharp/API/Exchanges/Bittrex/ExchangeBittrexAPI.cs
  src/ExchangeSharp/API/Exchanges/Bybit/ExchangeBybitAPI.cs
  src/ExchangeSharp/API/Exchanges/Coinbase/ExchangeCoinbaseAPI.cs
  src/ExchangeSharp/API/Exchanges/Digifinex/ExchangeDigifinexAPI.cs
  src/ExchangeSharp/API/Exchanges/GateIo/ExchangeGateIoAPI.cs
  src/ExchangeSharp/API/Exchanges/Gemini/ExchangeGeminiAPI.cs
  src/ExchangeSharp/API/Exchanges/Hitbtc/ExchangeHitbtcAPI.cs
  src/ExchangeSharp/API/Exchanges/Huobi/ExchangeHuobiAPI.cs
  src/ExchangeSharp/API/Exchanges/Kraken/ExchangeKrakenAPI.cs
  src/ExchangeSharp/API/Exchanges/KuCoin/ExchangeKuCoinAPI.cs
  src/ExchangeSharp/API/Exchanges/LBank/ExchangeLBankAPI.cs
  src/ExchangeSharp/API/Exchanges/Livecoin/ExchangeLivecoinAPI.cs
  src/ExchangeSharp/API/Exchanges/NDAX/ExchangeNDAXAPI.cs
  src/ExchangeSharp/API/Exchanges/OKGroup/OKGroupCommon.cs
  src/ExchangeSharp/API/Exchanges/Poloniex/ExchangePoloniexAPI.cs
  src/ExchangeSharp/API/Exchanges/Yobit/ExchangeYobitAPI.cs
  src/ExchangeSharp/API/Exchanges/_Base/ExchangeAPI.cs
  src/ExchangeSharp/API/Exchanges/_Base/IExchangeAPI.cs
  src/ExchangeSharp/Model/ExchangeOrderRequest.cs
Labels: enhancement

#653 [Binance] Allow market order without price
  src/ExchangeSharp/API/Exchanges/BinanceGroup/BinanceGroupCommon.cs
Labels: bug, exchange-Binance

#657 [Coinbase] withdrawal
  src/ExchangeSharp/API/Exchanges/Coinbase/ExchangeCoinbaseAPI.cs
  src/ExchangeSharp/API/Exchanges/Coinbase/Models/Response/WithdrawalResult.cs
  src/ExchangeSharpConsole/Options/CurrenciesOption.cs
  src/ExchangeSharpConsole/Program.cs
Labels: enhancement, exchange-Coinbase

#655 [UNTESTED] [Binance] sapi endpoint, cleanup
  src/ExchangeSharp/API/Exchanges/BinanceGroup/BinanceGroupCommon.cs
  src/ExchangeSharp/API/Exchanges/BinanceGroup/ExchangeBinanceAPI.cs
  src/ExchangeSharp/API/Exchanges/BinanceGroup/ExchangeBinanceJerseyAPI.cs
  src/ExchangeSharp/API/Exchanges/BinanceGroup/ExchangeBinanceUSAPI.cs
  src/ExchangeSharp/API/Exchanges/BinanceGroup/Models/Currency.cs
  src/ExchangeSharp/API/Exchanges/BinanceGroup/Models/CurrencyNetwork.cs
  src/ExchangeSharp/API/Exchanges/BinanceGroup/Models/HistoryRecord.cs
Labels: enhancement, exchange-Binance

#658 More command line options for testing
  src/ExchangeSharpConsole/Options/DepositAddressOption.cs
  src/ExchangeSharpConsole/Options/Interfaces/IOptionWithAddress.cs
  src/ExchangeSharpConsole/Options/Interfaces/IOptionWithAmount.cs
  src/ExchangeSharpConsole/Options/Interfaces/IOptionWithCurrency.cs
  src/ExchangeSharpConsole/Options/WithdrawOption.cs
  src/ExchangeSharpConsole/Program.cs
Labels: maintenance

#659 Change binance UserDataStream classes back to internal
  src/ExchangeSharp/API/Exchanges/BinanceGroup/Models/UserDataStream.cs
Labels: maintenance

#660 [Coinbase] fix withdraw nonce
  src/ExchangeSharp/API/Exchanges/Coinbase/ExchangeCoinbaseAPI.cs
Labels: bug, exchange-Coinbase

#661 Rewrite Binance OnGetUserDataWebSocketAsync() to be multi-exchange friendly
  src/ExchangeSharp/API/Exchanges/BL3P/ExchangeBL3PAPI.cs
  src/ExchangeSharp/API/Exchanges/BinanceGroup/BinanceGroupCommon.cs
  src/ExchangeSharp/API/Exchanges/BinanceGroup/Models/UserDataStream.cs
  src/ExchangeSharp/API/Exchanges/BitBank/ExchangeBitBankAPI.cs
  src/ExchangeSharp/API/Exchanges/Bitfinex/ExchangeBitfinexAPI.cs
  src/ExchangeSharp/API/Exchanges/Bitstamp/ExchangeBitstampAPI.cs
  src/ExchangeSharp/API/Exchanges/Coinbase/ExchangeCoinbaseAPI.cs
  src/ExchangeSharp/API/Exchanges/Digifinex/ExchangeDigifinexAPI.cs
  src/ExchangeSharp/API/Exchanges/Kraken/ExchangeKrakenAPI.cs
  src/ExchangeSharp/API/Exchanges/KuCoin/ExchangeKuCoinAPI.cs
  src/ExchangeSharp/API/Exchanges/Yobit/ExchangeYobitAPI.cs
  src/ExchangeSharp/API/Exchanges/_Base/ExchangeAPI.cs
  src/ExchangeSharp/API/Exchanges/_Base/IExchangeAPI.cs
  src/ExchangeSharp/Model/ExchangeAPIOrderResult.cs
  src/ExchangeSharp/Model/ExchangeBalances.cs
  src/ExchangeSharp/Model/ExchangeOrderResult.cs
  src/ExchangeSharpConsole/Options/BuyOption.cs
  tests/ExchangeSharpTests/ExchangeBinanceAPITests.cs
Labels: maintenance, breaking change

#663 FTX Exchange Implemented
  README.md
  src/ExchangeSharp/API/Exchanges/Aquanow/ExchangeAquanowAPI.cs
  src/ExchangeSharp/API/Exchanges/BitBank/ExchangeBitBankAPI.cs
  src/ExchangeSharp/API/Exchanges/Bitfinex/ExchangeBitfinexAPI.cs
  src/ExchangeSharp/API/Exchanges/Bittrex/ExchangeBittrexAPI_WebSocket.cs
  src/ExchangeSharp/API/Exchanges/Digifinex/ExchangeDigifinexAPI.cs
  src/ExchangeSharp/API/Exchanges/FTX/ExchangeFTXAPI.cs
  src/ExchangeSharp/API/Exchanges/FTX/Extensions.cs
  src/ExchangeSharp/API/Exchanges/GateIo/ExchangeGateIoAPI.cs
  src/ExchangeSharp/API/Exchanges/Gemini/ExchangeGeminiAPI.cs
  src/ExchangeSharp/API/Exchanges/Kraken/ExchangeKrakenAPI.cs
  src/ExchangeSharp/API/Exchanges/LBank/ExchangeLBankAPI.cs
  src/ExchangeSharp/API/Exchanges/NDAX/ExchangeNDAXAPI.cs
  src/ExchangeSharp/API/Exchanges/NDAX/Models/Level1Data.cs
  src/ExchangeSharp/API/Exchanges/NDAX/Models/NDAXTicker.cs
  src/ExchangeSharp/API/Exchanges/UfoDex/ExchangeUfoDexAPI.cs
  src/ExchangeSharp/API/Exchanges/_Base/ExchangeAPIExtensions.cs
  src/ExchangeSharp/API/Exchanges/_Base/ExchangeLogger.cs
  src/ExchangeSharp/ExchangeSharp.csproj
  src/ExchangeSharp/Model/ExchangeTicker.cs
Labels: enhancement, exchange-FTX

#664 fix BinanceGroupCommon OnGetCurrenciesAsync()
  ExchangeSharp.sln
  src/ExchangeSharp/API/Exchanges/BinanceGroup/BinanceGroupCommon.cs
  src/ExchangeSharp/API/Exchanges/BinanceGroup/Models/Currency.cs
  src/ExchangeSharp/API/Exchanges/Poloniex/ExchangePoloniexAPI.cs
  src/ExchangeSharp/Utility/DecimalExtensions.cs
  tests/ExchangeSharpTests/ExchangeBinanceAPITests.cs
Labels: bug, exchange-Binance

#665 implemented OnUserDataWebSocketAsync() on Coinbase
  src/ExchangeSharp/API/Common/APIRequestMaker.cs
  src/ExchangeSharp/API/Common/BaseAPI.cs
  src/ExchangeSharp/API/Common/IBaseAPI.cs
  src/ExchangeSharp/API/Exchanges/Coinbase/ExchangeCoinbaseAPI.cs
  src/ExchangeSharp/API/Exchanges/Coinbase/Models/Request/Channel.cs
  src/ExchangeSharp/API/Exchanges/Coinbase/Models/Response/Messages.cs
  src/ExchangeSharp/API/Exchanges/Coinbase/Models/Response/WithdrawalResult.cs
  src/ExchangeSharp/API/Exchanges/Coinbase/Models/Types/ResponseType.cs
  src/ExchangeSharp/API/Exchanges/Coinbase/Models/Types/Types.cs
  src/ExchangeSharp/Model/ExchangeAPIOrderResult.cs
  src/ExchangeSharp/Model/ExchangeOrderResult.cs
  src/ExchangeSharpConsole/Options/BuyOption.cs
Labels: enhancement, exchange-Coinbase

#667 Added Expired and PendingOpen to ExchangeAPIOrderResult
  src/ExchangeSharp/API/Exchanges/Aquanow/ExchangeAquanowAPI.cs
  src/ExchangeSharp/API/Exchanges/BL3P/Extensions/BL3PExtensions.cs
  src/ExchangeSharp/API/Exchanges/BTSE/ExchangeBTSEAPI.cs
  src/ExchangeSharp/API/Exchanges/BinanceGroup/BinanceGroupCommon.cs
  src/ExchangeSharp/API/Exchanges/BitBank/ExchangeBitBankAPI.cs
  src/ExchangeSharp/API/Exchanges/BitMEX/ExchangeBitMEXAPI.cs
  src/ExchangeSharp/API/Exchanges/Bitfinex/ExchangeBitfinexAPI.cs
  src/ExchangeSharp/API/Exchanges/Bitstamp/ExchangeBitstampAPI.cs
  src/ExchangeSharp/API/Exchanges/Bittrex/ExchangeBittrexAPI.cs
  src/ExchangeSharp/API/Exchanges/Bybit/ExchangeBybitAPI.cs
  src/ExchangeSharp/API/Exchanges/Coinbase/ExchangeCoinbaseAPI.cs
  src/ExchangeSharp/API/Exchanges/Coinbase/Models/Response/Messages.cs
  src/ExchangeSharp/API/Exchanges/Digifinex/ExchangeDigifinexAPI.cs
  src/ExchangeSharp/API/Exchanges/FTX/ExchangeFTXAPI.cs
  src/ExchangeSharp/API/Exchanges/FTX/FTXExtensions.cs
  src/ExchangeSharp/API/Exchanges/GateIo/ExchangeGateIoAPI.cs
  src/ExchangeSharp/API/Exchanges/Gemini/ExchangeGeminiAPI.cs
  src/ExchangeSharp/API/Exchanges/Hitbtc/ExchangeHitbtcAPI.cs
  src/ExchangeSharp/API/Exchanges/Huobi/ExchangeHuobiAPI.cs
  src/ExchangeSharp/API/Exchanges/Kraken/ExchangeKrakenAPI.cs
  src/ExchangeSharp/API/Exchanges/KuCoin/ExchangeKuCoinAPI.cs
  src/ExchangeSharp/API/Exchanges/LBank/ExchangeLBankAPI.cs
  src/ExchangeSharp/API/Exchanges/Livecoin/ExchangeLivecoinAPI.cs
  src/ExchangeSharp/API/Exchanges/NDAX/Models/Order.cs
  src/ExchangeSharp/API/Exchanges/OKGroup/OKGroupCommon.cs
  src/ExchangeSharp/API/Exchanges/Poloniex/ExchangePoloniexAPI.cs
  src/ExchangeSharp/API/Exchanges/Yobit/ExchangeYobitAPI.cs
  src/ExchangeSharp/API/Exchanges/_Base/ExchangeAPIExtensions.cs
  src/ExchangeSharp/Model/ExchangeAPIOrderResult.cs
  src/ExchangeSharpConsole/Options/BuyOption.cs
  tests/ExchangeSharpTests/ExchangePoloniexAPITests.cs
Labels: maintenance, breaking change

#670 [Kraken] Withdrawal, cleanup
  src/ExchangeSharp/API/Exchanges/Kraken/ExchangeKrakenAPI.cs
Labels: enhancement, exchange-Kraken

#669 FTX namespace update
  src/ExchangeSharp/API/Exchanges/FTX/ExchangeFTXAPI.cs
  src/ExchangeSharp/API/Exchanges/FTX/FTXExtensions.cs
Labels: bug, exchange-FTX
