Repository DigitalRuby/ExchangeSharp, pull requests merged in 2021-12, with the labels that each got.

#691 Withdrawal fees
  src/ExchangeSharp/API/Exchanges/Bitfinex/ExchangeBitfinexAPI.cs
  src/ExchangeSharp/API/Exchanges/Bittrex/ExchangeBittrexAPI.cs
  src/ExchangeSharp/API/Exchanges/Coinbase/ExchangeCoinbaseAPI.cs
  src/ExchangeSharp/API/Exchanges/FTX/ExchangeFTXAPI.cs
  src/ExchangeSharp/API/Exchanges/Kraken/ExchangeKrakenAPI.cs
  src/ExchangeSharp/Model/ExchangeWithdrawalResponse.cs
Labels: enhancement

#692 Implemented OnGetCandlesWebSocketAsync for BinanceGroup
  src/ExchangeSharp/API/Exchanges/BinanceGroup/BinanceGroupCommon.cs
Labels: enhancement, exchange-Binance

#694 OKEx RateLimit
  src/ExchangeSharp/API/Exchanges/OKGroup/ExchangeOKExAPI.cs
Labels: maintenance, exchange-OKex

#695 Create exchange API by name
  src/ExchangeSharp/API/Exchanges/_Base/ExchangeAPI.cs
Labels: enhancement

#701 [FIX] [Bitfinex] Submit stop order at margin account (#698)
  src/ExchangeSharp/API/Exchanges/Bitfinex/ExchangeBitfinexAPI.cs
  tests/ExchangeSharpTests/ExchangeBitfinexTests.cs
Labels: bug, exchange-Bitfinex

#702 Use a single rate gate per type of api
  examples/ExchangeSharpWinForms/ExchangeSharpWinForms.csproj
  src/ExchangeSharp.Forms/ExchangeSharp.Forms.csproj
  src/ExchangeSharp.Forms/Forms/PlotForm.Designer.cs
  src/ExchangeSharp.Forms/Forms/PlotForm.cs
  src/ExchangeSharp/API/Common/BaseAPI.cs
  src/ExchangeSharp/API/Exchanges/_Base/ExchangeName.cs
  src/ExchangeSharpConsole/ExchangeSharpConsole.csproj
Labels: enhancement

#704 Implement OnGetFeesAsync for Coinbase
  src/ExchangeSharp/API/Exchanges/Coinbase/ExchangeCoinbaseAPI.cs
Labels: enhancement, exchange-Coinbase

#706 fix OKEx OnGetAmountsAsync
  src/ExchangeSharp/API/Exchanges/OKGroup/ExchangeOKExAPI.cs
Labels: bug, exchange-OKex

#707 [FIX] [Bitfinex] Fixed market symbol separator (#699)
  src/ExchangeSharp/API/Exchanges/Bitfinex/ExchangeBitfinexAPI.cs
  tests/ExchangeSharpTests/ExchangeBitfinexTests.cs
Labels: bug, exchange-Bitfinex

#708 Update README.md description
  README.md
Labels: maintenance
