Repository DigitalRuby/ExchangeSharp, pull requests merged in 2021-11, with the labels that each got.

#684 Make GetExchangeAPIsAsync return all instances as previous
  src/ExchangeSharp/API/Exchanges/_Base/ExchangeAPI.cs
Labels: bug

#685 Moving to OKEx V5 WebSocket API
  README.md
  src/ExchangeSharp/API/Exchanges/OKGroup/ExchangeOKExAPI.cs
  src/ExchangeSharp/API/Exchanges/OKGroup/OKGroupCommon.cs
Labels: enhancement, exchange-OKex

#686 new NuGet 0.9.1
  README.md
  src/ExchangeSharp/ExchangeSharp.csproj
  src/ExchangeSharp/Properties/AssemblyInfo.cs
  src/ExchangeSharpConsole/ExchangeSharpConsole.csproj
  tests/ExchangeSharpTests/ExchangeSharpTests.csproj
Labels: maintenance

#687 Update OnPlaceOrderAsync Okex
  README.md
  src/ExchangeSharp/API/Exchanges/OKGroup/ExchangeOKExAPI.cs
Labels: bug, exchange-OKex

#688 Update Okex OnPlaceOrderAsync
  src/ExchangeSharp/API/Exchanges/OKGroup/ExchangeOKExAPI.cs
Labels: bug, exchange-OKex
