Repository DigitalRuby/ExchangeSharp, pull requests merged in 2021-05, with the labels that each got.

#586 KuCoin API-KEY-V2 passphrase error fix.
  src/ExchangeSharp/API/Exchanges/KuCoin/ExchangeKuCoinAPI.cs
Labels: bug

#587 Updated Bittrex RestApi to V3
  src/ExchangeSharp/API/Exchanges/Bittrex/ExchangeBittrexAPI.cs
Labels: enhancement, exchange-Bittrex

#590 BittrexWS update
  src/ExchangeSharp/API/Exchanges/Bittrex/ExchangeBittrexAPI.cs
  src/ExchangeSharp/API/Exchanges/Bittrex/ExchangeBittrexAPI_WebSocket.cs
Labels: bug, exchange-Bittrex

#591 KuCoin market order bugfix
  src/ExchangeSharp/API/Exchanges/KuCoin/ExchangeKuCoinAPI.cs
Labels: bug, exchange-KuCoin

#592 new NuGet 0.8.0
  README.md
  src/ExchangeSharp/ExchangeSharp.csproj
  src/ExchangeSharp/Properties/AssemblyInfo.cs
  src/ExchangeSharpConsole/ExchangeSharpConsole.csproj
  tests/ExchangeSharpTests/ExchangeSharpTests.csproj
Labels: maintenance

#594 Fix Kraken and Gemini issues
  src/ExchangeSharp/API/Exchanges/Gemini/ExchangeGeminiAPI.cs
  src/ExchangeSharp/API/Exchanges/Kraken/ExchangeKrakenAPI.cs
  src/ExchangeSharp/API/Exchanges/_Base/ExchangeAPI.cs
  src/ExchangeSharpConsole/Options/WebSocketsTickersOption.cs
  src/ExchangeSharpConsole/Options/WebSocketsTradesOption.cs
Labels: bug
