Repository DigitalRuby/ExchangeSharp, pull requests merged in 2021-10, with the labels that each got.

#668 Async ExchangeAPI init
  README.md
  examples/ExchangeSharpWinForms/MainForm.cs
  src/ExchangeSharp/API/Exchanges/_Base/ExchangeAPI.cs
  src/ExchangeSharp/API/Exchanges/_Base/ExchangeLogger.cs
  src/ExchangeSharpConsole/ExchangeSharpConsole.csproj
  src/ExchangeSharpConsole/Options/BaseOption.cs
  src/ExchangeSharpConsole/Options/BuyOption.cs
  src/ExchangeSharpConsole/Options/CancelOrderOption.cs
  src/ExchangeSharpConsole/Options/CandlesOption.cs
  src/ExchangeSharpConsole/Options/CurrenciesOption.cs
  src/ExchangeSharpConsole/Options/DepositAddressOption.cs
  src/ExchangeSharpConsole/Options/ExampleOption.cs
  src/ExchangeSharpConsole/Options/ExportOption.cs
  src/ExchangeSharpConsole/Options/MarketSymbolsMetadataOption.cs
  src/ExchangeSharpConsole/Options/MarketSymbolsOption.cs
  src/ExchangeSharpConsole/Options/OrderBookOption.cs
  src/ExchangeSharpConsole/Options/OrderDetailsOption.cs
  src/ExchangeSharpConsole/Options/OrderHistoryOption.cs
  src/ExchangeSharpConsole/Options/StatsOption.cs
  src/ExchangeSharpConsole/Options/TestOption.cs
  src/ExchangeSharpConsole/Options/TickerOption.cs
  src/ExchangeSharpConsole/Options/TradeHistoryOption.cs
  src/ExchangeSharpConsole/Options/WithdrawOption.cs
  tests/ExchangeSharpTests/ExchangeBL3PAPITests.cs
  tests/ExchangeSharpTests/ExchangeBitBankTests.cs
  tests/ExchangeSharpTests/ExchangePoloniexAPITests.cs
  tests/ExchangeSharpTests/ExchangeTests.cs
Labels: maintenance, breaking change

#672 Update README.md - grammar fixes
  README.md
Labels: maintenance

#671 new NuGet 0.9.0
  README.md
  src/ExchangeSharp/ExchangeSharp.csproj
  src/ExchangeSharp/Properties/AssemblyInfo.cs
  src/ExchangeSharpConsole/ExchangeSharpConsole.csproj
  tests/ExchangeSharpTests/ExchangeSharpTests.csproj
Labels: maintenance

#673 fix BinanceGroupCommon OnGetMarketSymbolsMetadataAsync
  src/ExchangeSharp/API/Exchanges/BinanceGroup/BinanceGroupCommon.cs
Labels: bug, exchange-Binance

#674 Moving to OKEx V5 API #2
  src/ExchangeSharp/API/Exchanges/OKGroup/ExchangeOKExAPI.cs
  src/ExchangeSharp/Utility/CryptoUtility.cs
Labels: enhancement, exchange-OKex
