Repository DigitalRuby/ExchangeSharp, pull requests merged in 2022-01, with the labels that each got.

#709 refactor ExchangeOrderBook.MergeOrderBookDelta()
  src/ExchangeSharp/API/Exchanges/_Base/ExchangeAPIExtensions.cs
  src/ExchangeSharp/Model/ExchangeOrderBook.cs
Labels: maintenance

#710 new NuGet 0.9.2
  README.md
  src/ExchangeSharp/ExchangeSharp.csproj
  src/ExchangeSharp/Properties/AssemblyInfo.cs
  src/ExchangeSharpConsole/ExchangeSharpConsole.csproj
  tests/ExchangeSharpTests/ExchangeSharpTests.csproj
Labels: maintenance

#714 fix GetFullOrderBookWebSocketAsync data inconsistency
  src/ExchangeSharp/API/Exchanges/BinanceGroup/BinanceGroupCommon.cs
  src/ExchangeSharp/API/Exchanges/Bithumb/ExchangeBithumbAPI.cs
  src/ExchangeSharp/API/Exchanges/Bitstamp/ExchangeBitstampAPI.cs
  src/ExchangeSharp/API/Exchanges/Bittrex/ExchangeBittrexAPI.cs
  src/ExchangeSharp/API/Exchanges/Coinbase/ExchangeCoinbaseAPI.cs
  src/ExchangeSharp/API/Exchanges/Digifinex/ExchangeDigifinexAPI.cs
  src/ExchangeSharp/API/Exchanges/FTX/ExchangeFTXAPI.cs
  src/ExchangeSharp/API/Exchanges/GateIo/ExchangeGateIoAPI.cs
  src/ExchangeSharp/API/Exchanges/Gemini/ExchangeGeminiAPI.cs
  src/ExchangeSharp/API/Exchanges/Hitbtc/ExchangeHitbtcAPI.cs
  src/ExchangeSharp/API/Exchanges/Huobi/ExchangeHuobiAPI.cs
  src/ExchangeSharp/API/Exchanges/Kraken/ExchangeKrakenAPI.cs
  src/ExchangeSharp/API/Exchanges/KuCoin/ExchangeKuCoinAPI.cs
  src/ExchangeSharp/API/Exchanges/LBank/ExchangeLBankAPI.cs
  src/ExchangeSharp/API/Exchanges/OKGroup/ExchangeOKExAPI.cs
  src/ExchangeSharp/API/Exchanges/OKGroup/OKGroupCommon.cs
  src/ExchangeSharp/API/Exchanges/_Base/ExchangeAPIExtensions.cs
Labels: bug, exchange-OKex

#715 parse QuantityStepSize (base_increment) in Coinbase
  src/ExchangeSharp/API/Exchanges/Coinbase/ExchangeCoinbaseAPI.cs
Labels: enhancement, exchange-Coinbase

#717 remove excessive IsPostOnly check in ExchangeAPI.cs
  src/ExchangeSharp/API/Exchanges/_Base/ExchangeAPI.cs
Labels: bug

#718 Feature/coinmate
  README.md
  src/ExchangeSharp/API/Exchanges/Coinmate/ExchangeCoinmateAPI.cs
  src/ExchangeSharp/API/Exchanges/Coinmate/Models/CoinmateBalance.cs
  src/ExchangeSharp/API/Exchanges/Coinmate/Models/CoinmateOpenOrder.cs
  src/ExchangeSharp/API/Exchanges/Coinmate/Models/CoinmateOrder.cs
  src/ExchangeSharp/API/Exchanges/Coinmate/Models/CoinmateOrderBook.cs
  src/ExchangeSharp/API/Exchanges/Coinmate/Models/CoinmateResponse.cs
  src/ExchangeSharp/API/Exchanges/Coinmate/Models/CoinmateSymbol.cs
  src/ExchangeSharp/API/Exchanges/Coinmate/Models/CoinmateTradingPair.cs
  src/ExchangeSharp/API/Exchanges/Coinmate/Models/CoinmateTransaction.cs
Labels: enhancement

#719 log error on Huobi trade stream
  src/ExchangeSharp/API/Exchanges/Huobi/ExchangeHuobiAPI.cs
Labels: maintenance, exchange-Huobi

#720 update websocket URL for ZB.com
  src/ExchangeSharp/API/Exchanges/ZBcom/ExchangeZBcomAPI.cs
Labels: bug, exchange-ZB.com

#721 add FTX.US and trade stream to FTX
  src/ExchangeSharp/API/Exchanges/BitMEX/ExchangeBitMEXAPI.cs
  src/ExchangeSharp/API/Exchanges/Bithumb/ExchangeBithumbAPI.cs
  src/ExchangeSharp/API/Exchanges/Bittrex/ExchangeBittrexAPI.cs
  src/ExchangeSharp/API/Exchanges/Bybit/ExchangeBybitAPI.cs
  src/ExchangeSharp/API/Exchanges/Coinbase/ExchangeCoinbaseAPI.cs
  src/ExchangeSharp/API/Exchanges/FTX/ExchangeFTXAPI.cs
  src/ExchangeSharp/API/Exchanges/FTX/ExchangeFTXUSAPI.cs
  src/ExchangeSharp/API/Exchanges/FTX/FTXGroupCommon.cs
  src/ExchangeSharp/API/Exchanges/FTX/Models/FTXTrade.cs
  src/ExchangeSharp/API/Exchanges/Hitbtc/ExchangeHitbtcAPI.cs
  src/ExchangeSharp/API/Exchanges/OKGroup/OKGroupCommon.cs
  src/ExchangeSharp/API/Exchanges/Poloniex/ExchangePoloniexAPI.cs
  src/ExchangeSharp/API/Exchanges/_Base/ExchangeAPIExtensions.cs
  src/ExchangeSharp/ExchangeSharp.csproj
  src/ExchangeSharp/Utility/CryptoUtility.cs
Labels: enhancement, exchange-FTX

#722 add trade stream to Bithumb
  src/ExchangeSharp/API/Exchanges/Bithumb/ExchangeBithumbAPI.cs
  src/ExchangeSharp/API/Exchanges/OKGroup/ExchangeOKExAPI.cs
  src/ExchangeSharp/Utility/CryptoUtility.cs
Labels: enhancement

#725 parse Binance specific ExchangeMarket properties
  src/ExchangeSharp/API/Exchanges/BinanceGroup/BinanceGroupCommon.cs
  src/ExchangeSharp/API/Exchanges/BinanceGroup/Models/BinanceAggregateTrade.cs
  src/ExchangeSharp/API/Exchanges/BinanceGroup/Models/BinanceDEXTrade.cs
  src/ExchangeSharp/API/Exchanges/BinanceGroup/Models/ExchangeMarketBinance.cs
  src/ExchangeSharp/Model/ExchangeMarket.cs
Labels: enhancement, exchange-Binance
