Repository DigitalRuby/ExchangeSharp, pull requests merged in 2022-03, with the labels that each got.

#751 updated dependencies
  src/ExchangeSharp/ExchangeSharp.csproj
Labels: maintenance

#752 new NuGet 1.0.0
  README.md
  src/ExchangeSharp.Forms/ExchangeSharp.Forms.csproj
  src/ExchangeSharp/ExchangeSharp.csproj
  src/ExchangeSharp/Properties/AssemblyInfo.cs
  src/ExchangeSharpConsole/ExchangeSharpConsole.csproj
  tests/ExchangeSharpTests/ExchangeSharpTests.csproj
Labels: maintenance

#754 Set MarketSymbolIsUppercase to true in ExchangeBinanceAPI
  src/ExchangeSharp/API/Exchanges/BinanceGroup/ExchangeBinanceAPI.cs
Labels: bug, exchange-Binance

#756 set RateLimit for Coinbase
  src/ExchangeSharp/API/Exchanges/Coinbase/ExchangeCoinbaseAPI.cs
Labels: enhancement, exchange-Coinbase
