Repository DigitalRuby/ExchangeSharp, pull requests merged in 2023-04, with the labels that each got.

#801 Implementation of Bybit V5 unified API
  src/ExchangeSharp/API/Exchanges/Bybit/ExchangeBybitInverseAPI.cs
  src/ExchangeSharp/API/Exchanges/Bybit/ExchangeBybitLinearAPI.cs
  src/ExchangeSharp/API/Exchanges/Bybit/ExchangeBybitOptionAPI.cs
  src/ExchangeSharp/API/Exchanges/Bybit/ExchangeBybitSpotAPI.cs
  src/ExchangeSharp/API/Exchanges/Bybit/ExchangeBybitV5Base.cs
  src/ExchangeSharp/API/Exchanges/Bybit/Models/Enums.cs
  src/ExchangeSharp/Model/ExchangeOrderBook.cs
  src/ExchangeSharp/Model/MarketCandle.cs
Labels: enhancement, exchange-Bybit

#802 [Bybit] Changed bybit exchange names
  src/ExchangeSharp/API/Exchanges/Bybit/ExchangeBybitInverseAPI.cs
  src/ExchangeSharp/API/Exchanges/Bybit/ExchangeBybitLinearAPI.cs
  src/ExchangeSharp/API/Exchanges/Bybit/ExchangeBybitOptionAPI.cs
  src/ExchangeSharp/API/Exchanges/Bybit/ExchangeBybitSpotAPI.cs
  src/ExchangeSharp/API/Exchanges/Bybit/ExchangeBybitV5Base.cs
  src/ExchangeSharp/Model/ExchangeOrderBook.cs
Labels: maintenance, exchange-Bybit

#803 updated dependencies
  src/ExchangeSharp/ExchangeSharp.csproj
Labels: maintenance

#804 new NuGet 1.0.4
  README.md
  src/ExchangeSharp/ExchangeSharp.csproj
  src/ExchangeSharp/Properties/AssemblyInfo.cs
  src/ExchangeSharpConsole/ExchangeSharpConsole.csproj
  tests/ExchangeSharpTests/ExchangeSharpTests.csproj
Labels: maintenance
