Repository DigitalRuby/ExchangeSharp, pull requests merged in 2024-02, with the labels that each got.

#827 Change the default Kraken request method to GET
  src/ExchangeSharp/API/Exchanges/Kraken/ExchangeKrakenAPI.cs
Labels: bug, exchange-Kraken

#828 Implement KuCoin orderbook WebSocket listener
  src/ExchangeSharp/API/Exchanges/Kraken/ExchangeKrakenAPI.cs
  src/ExchangeSharp/API/Exchanges/KuCoin/ExchangeKuCoinAPI.cs
  src/ExchangeSharp/API/Exchanges/_Base/ExchangeAPIExtensions.cs
Labels: enhancement, exchange-KuCoin

#829 fix: bug fix on buy order results
  src/ExchangeSharp/.vscode/launch.json
  src/ExchangeSharp/API/Exchanges/OKGroup/ExchangeOKExAPI.cs
Labels: bug, exchange-OKex

#831 ignore missing symbols in ExchangeAPI.GetExchangeMarketFromCacheAsync()
  src/ExchangeSharp/API/Exchanges/_Base/ExchangeAPI.cs
Labels: bug
