Repository DigitalRuby/ExchangeSharp, pull requests merged in 2024-11, with the labels that each got.

#849 update dependencies
  examples/ExchangeSharpWinForms/ExchangeSharpWinForms.csproj
  src/ExchangeSharp.Forms/ExchangeSharp.Forms.csproj
  src/ExchangeSharp/ExchangeSharp.csproj
  src/ExchangeSharpConsole/ExchangeSharpConsole.csproj
Labels: maintenance

#850 Fix MEXC ticker overflow
  src/ExchangeSharp/API/Exchanges/MEXC/ExchangeMEXCAPI.cs
Labels: bug, exchange-MEXC

#851 added ExchangeMarket.IsDelistingCandidate
  src/ExchangeSharp/API/Exchanges/KuCoin/ExchangeKuCoinAPI.cs
  src/ExchangeSharp/Model/ExchangeMarket.cs
Labels: enhancement, exchange-KuCoin, breaking change

#852 added tests for KuCoin
  tests/ExchangeSharpTests/ExchangeKuCoinAPITests.cs
Labels: exchange-KuCoin, maintenance

#853 Coinbase: remove order fetch after submission
  src/ExchangeSharp/API/Exchanges/Coinbase/ExchangeCoinbaseAPI.cs
Labels: enhancement, exchange-Coinbase, breaking change

#854 Binance, KuCoin - Fix GetCurrenciesAsync
  src/ExchangeSharp/API/Exchanges/BinanceGroup/BinanceGroupCommon.cs
  src/ExchangeSharp/API/Exchanges/BinanceGroup/Models/Currency.cs
  src/ExchangeSharp/API/Exchanges/KuCoin/ExchangeKuCoinAPI.cs
Labels: bug, exchange-KuCoin, exchange-Binance

#855 Coinbase: check for order cancellation failure
  src/ExchangeSharp/API/Exchanges/Coinbase/ExchangeCoinbaseAPI.cs
Labels: bug, exchange-Coinbase

#856 Coinbase: added tests
  src/ExchangeSharp/API/Common/APIRequestMaker.cs
  tests/ExchangeSharpTests/ExchangeCoinbaseAPITests.cs
Labels: maintenance, exchange-Coinbase

#857 Coinbase: implement new JWT Bearer token for Authentication header
  src/ExchangeSharp/API/Exchanges/Coinbase/ExchangeCoinbaseAPI.cs
  src/ExchangeSharp/API/Exchanges/Coinbase/ExchangeCoinbaseAPI_Const.cs
  src/ExchangeSharp/API/Exchanges/Coinbase/ExchangeCoinbaseAPI_JWT.cs
  src/ExchangeSharp/API/Exchanges/Coinbase/ExchangeCoinbaseExchangeAPI.cs
  src/ExchangeSharp/ExchangeSharp.csproj
Labels: enhancement, exchange-Coinbase

#858 remove AssemblyInfo.cs
  src/ExchangeSharp/ExchangeSharp.csproj
  src/ExchangeSharp/Properties/AssemblyInfo.cs
Labels: maintenance

#859 enable SourceLink
  src/ExchangeSharp/ExchangeSharp.csproj
Labels: maintenance

#860 new NuGet 1.2.0
  README.md
  src/ExchangeSharp/ExchangeSharp.csproj
  src/ExchangeSharpConsole/ExchangeSharpConsole.csproj
  tests/ExchangeSharpTests/ExchangeSharpTests.csproj
Labels: maintenance
