Repository DigitalRuby/ExchangeSharp, pull requests merged in 2025-02, with the labels that each got.

#866 Remove price clamping for MEXC
  src/ExchangeSharp/API/Exchanges/MEXC/ExchangeMEXCAPI.cs
Labels: bug, exchange-MEXC

#865 KuCoin, MEXC - Orderbook WebSockets improvements
  src/ExchangeSharp/API/Exchanges/KuCoin/ExchangeKuCoinAPI.cs
  src/ExchangeSharp/API/Exchanges/MEXC/ExchangeMEXCAPI.cs
  src/ExchangeSharp/API/Exchanges/_Base/ExchangeAPIExtensions.cs
Labels: enhancement, exchange-KuCoin, exchange-MEXC

#868 Gate.io: Add handling for FOK orders when placing new orders
  src/ExchangeSharp/API/Exchanges/GateIo/ExchangeGateIoAPI.cs
Labels: enhancement, exchange-Gate.IO

#869 Gate.io: Copy ExtraParameters to the payload
  src/ExchangeSharp/API/Exchanges/GateIo/ExchangeGateIoAPI.cs
Labels: bug, exchange-Gate.IO
